/*---------------*/
/*  Box-Content  */
/*---------------*/
.box-content {
    padding: 15px 20px;
    background-color: #d0ebff; 
    border: 1px solid #448aff;
    border-radius: 8px; /* Cantos arredondados */
    margin: 20px 0; /* Espaçamento externo */
    box-shadow: 0 0.2rem 0.5rem #0000000d,0 0 0.05rem #0000001a;
    line-height: 1.5;
}
/*---------------*/
/*  Admonitions   */
/*---------------*/
.admonition{
    padding: 15px 20px;
    padding-bottom: 5px !important;
    margin-bottom: 20px;
    border-left: 4px solid #448aff ;
    border-radius: 4px;
    box-shadow: 0 0.2rem 0.5rem #0000000d,0 0 0.05rem #0000001a;
    color: #222222;
}
.admonition::before {
    position: absolute;
    margin-left: 0;
    margin-top: -5px;
}
.admonition-title {
    font-weight: bold;
    padding: 10px 20px;
    padding-left: 6rem; 
    margin: -15px -20px 0 -20px;
    border-radius: 4px 4px 0 0;
}
.admonition-title + * {
    margin-top: 15px;
}
.admonition-title a {
    color: green;
}
/*-------------------*/
/*    Exercise ()    */
/*-------------------*/
.admonition.exercise > .admonition-title::after {
    content: "📝" !important;
    color: royalblue !important;
    filter: sepia(1) saturate(3) hue-rotate(180deg);
}
.admonition.exercise {
    border-color: #00b8d4;
}
.admonition.exercise .admonition-title {
    background-color: #d9edf7;
}
/*-------------------*/
/* Tip (gold) */
/*-------------------*/
.admonition.tip > .admonition-title::after {
    content: "💡" !important;
    color: goldenrod !important;
    filter: sepia(50%) saturate(3) hue-rotate(-10deg);  
}
.admonition.tip{
    border-color: #ffc107 !important;
}
.admonition.tip .admonition-title {
    background-color: #ffecb3 !important;
}
/*-------------------*/
/*  warning (orange)  */
/*-------------------*/
.admonition.warning > .admonition-title::after {
    color: darkorange !important;
    filter: sepia(50%) saturate(3) hue-rotate(-10deg); 
}
.admonition.warning {
    border-color: #ff9800 !important;
}
.admonition.warning .admonition-title {
    background-color: #ffe0b2 !important;
}
/*-------------------*/
/*     Examples      */
/*-------------------*/
.admonition.examples > .admonition-title::after {
    content: "🖥️";
    color: rgb(100, 100, 100);
    filter: sepia(1) saturate(3) hue-rotate(180deg);
}
.admonition.examples {
    border-color: rgb(150, 150, 150);
}
.admonition.examples .admonition-title {
    background-color: rgba(150, 150, 150, 0.261);
}
.admonition.examples.codes {
    background-color: #f3f4f5 !important;
}
.admonition.examples.codes pre {
    border: none !important;
    box-shadow: none !important;
}

